[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
dotenv = "*"
django-cors-headers = "*"
rest-framework-simplejwt = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
